.container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border: 1px solid black;
    
}
.container > div {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    align-content: center;    
    text-align: center;
}

#red{
    background-color: white;
}
#orange{
    background-color: white;
}
#yellow{
    background-color: white;
}
#green{
    background-color: white;
}
#violet{
    background-color: white;
}
#blue{
    background-color: white;
}

#random{
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 4;
}